<div class="products-container">
    <mat-toolbar color="primary">
      <span>Gestão de Produtos</span>
    </mat-toolbar>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columns Definitions -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let product"> {{product.codigo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let product"> {{product.descricao}} </td>
        </ng-container>
  
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let product"> {{product.situacao ? 'Ativo' : 'Inativo'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="dataFabricacao">
          <th mat-header-cell *matHeaderCellDef> Data de Fabricação </th>
          <td mat-cell *matCellDef="let product"> {{product.data_fabricacao | date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="dataValidade">
          <th mat-header-cell *matHeaderCellDef> Data de Validade </th>
          <td mat-cell *matCellDef="let product"> {{product.data_validade | date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let product">
            <button mat-icon-button (click)="editProduct(product)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduct(product.codigo)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator [length]="totalProducts" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
        (page)="pageEvent = $event; loadProducts()"></mat-paginator>
      <button mat-raised-button color="primary" class="align-right-button" (click)="openNewProductForm()">Novo Produto</button>
    </div>
  </div>
  